docs/common/xsd/SOAPEBML.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="From" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartyId"/>
              <xs:element type="xs:string" name="Role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="To" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PartyId"/>
              <xs:element type="xs:string" name="Role"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="CPAId"/>
        <xs:element type="xs:string" name="ConversationId"/>
        <xs:element type="xs:string" name="Service"/>
        <xs:element type="xs:string" name="Action"/>
        <xs:element name="MessageData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MessageId"/>
              <xs:element type="xs:dateTime" name="Timestamp"/>
              <xs:element type="xs:string" name="RefToMessageId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="soapenv:mustUnderstand" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Manifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Reference">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Schema">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:anyURI" name="location"/>
                      <xs:attribute type="xs:float" name="version"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
            <xs:attribute ref="xlin:href" xmlns:xlin="http://www.w3.org/1999/xlink"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>